.header {
  background-color: var(--gray);
  text-align: center;
  font-size: var(--titleFontSize);
}

.accountManagement {
  position: absolute;
}

.accountManagement ul {
  list-style-type: none;
  display: flex;
  background-color: var(--gray);

}

.accountManagement li {
  cursor: pointer;
  padding-left: 1vh;

}

.accountManagement li a {
  display: block;
  color: white;
  text-align: center;
  font-size: var(--accountListFontSize);
}

.accountManagement li a:hover {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  background-color: var(--lightgray);
}

.header .firstName {
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.header .lastName {
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.menu ul {
  list-style-type: none;
  display: flex;
}

.header .menu li {
  padding-left: 1vh;
  padding-right: 1vh;
  cursor: pointer;
  color: var(--white);
  font-size: var(--menuFontSize);

}

.header .menu li:hover {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  background-color: var(--lightgray);
}

.header a:-webkit-any-link {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}