.controller-video-container {
    background-color: black;
    height: 75.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.controller-video {
    width: 80%;
    height: 100%;
    background-color: black;
}



.account-no-access {
    position: relative;
    left: 25vh;
}



.lamps-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}