# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.




#Backend
/backend/src/key.txt


# dependencies
/frontend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/frontend/build
venv/
# misc
/backend/src/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
