<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mark Lundager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <section class="banner">
      <h1>
        <span class="firstName">Mark</span>
        <span class="lastName">Lundager</span>
      </h1>
      <ul class="menu">
        <li>About me</li>
        <li>Projects</li>
        <li>Controller</li>
      </ul>
    </section>
    <p>Click the buttons below:</p>
    <button onclick="buttonClicked('off')">Turn Off</button>
    <button onclick="buttonClicked('on')">Turn On</button>

    <script>
      function buttonClicked(action) {
        // Send a request to the Flask API endpoint with the button action
        fetch(`/run_python_code/${action}`)
          .then((response) => response.json())
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
