body {
  text-align: left;
  margin: 0;
  padding: 0;
  
}

.banner{
  background-color:#151515;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 100px;

}
.banner .signIn {
  position: absolute;
  top: 10px; 
  left: 10px; 
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  color: white;
}

.banner .firstName{
  color: #16511c;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.banner .lastName{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: #16511c;
}
.banner ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content:left;
}

.banner li {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: #16511c;
  font-size: 35px;
  margin: 0px 30px;
  padding: 0px;
}